.contact {
  min-height: 1000px;
  width: 1000px;
  margin: 0 auto;
  padding: calc(var(--nav-height) + 20px) 40px;
  display: flex;
  flex-direction: column;
}
.title {
  padding-bottom: 20px;
  text-align: center;
  color: var(--clr-accent);
}
@media screen and (max-width: 1000px) {
  .contact {
    width: 90%;
  }
}
