.about {
  min-height: 1000px;
  width: 1000px;
  margin: 0 auto;
  padding: calc(var(--nav-height) + 20px) 40px;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
}

.title,
.subtitle {
  color: var(--clr-primaryDark);
}
.title {
  padding-bottom: 50px;
  text-align: center;
}

.picture-bg {
  width: 400px;
  height: 700px;
  margin-right: 40px;
  background-image: url('../../../assets/Avt2.jpg');
  background-size: cover;
  background-position: center;
}

.column-right p {
  padding: 25px 0;
  font-size: 20px;
}
.statement {
  margin-bottom: 30px;
}

.skills {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  background: var(--clr-secondaryLight);
}
.skills ul {
  list-style: disc;
}
.skills li {
  list-style-position: inside;
  padding: 5px 0;
  text-align: left;
}

@media screen and (max-width: 1000px) {
  .about {
    width: 90%;
  }
  .picture-bg {
    display: none;
  }
  .column-right {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .skills {
    flex-wrap: wrap;
  }
  .skills ul {
    width: 95%;
  }
}
